@font-face {
    font-family: 'PremierSans-Regular';
    src: url('./fonts/PremierLeagueW01-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PremierSans-Bold';
    src: url('./fonts/PremierLeagueW01-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'PremierSans-Light';
    src: url('./fonts/PremierLeagueW01-Light.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'PremierSans-Regular', Roboto, Helvetica, Arial, sans-serif;
    background: url('anfield.jpeg');
    /*background: url('colors.jpg');*/
    background-size: cover;
    margin: 0;
    padding: 0;
}

.intro {
    display: flex;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
}

.intro--splitted {
    justify-content: space-between;
}

[class^="intro__panel"] {
    background: rgba(37, 215, 224, .8);
}

.intro--splitted .intro__panel--left {
    width: 30vw;
}

.intro__panel--right {
    width: 100%;
}

.intro--splitted .intro__panel--right {
    width: 15vw;
}

.intro__teams {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate3d(-50%, -50%, 0);
}

.intro--splitted .intro__teams {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
}

.intro__field-info {
    background: rgba(64, 4, 68, .9);
    color: rgb(37, 215, 224);
    display: flex;
    padding: 0 30px;
    line-height: 24px;
    font-weight: 700;
    align-self: flex-end;
    transform: translate3d(-150px, 0, 0);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.intro__field-info:after {
    content: '';
    height: 0px;
    width: 100%;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .65);
    flex: 1 1 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

[class^="intro__team--"] {
    display: flex;
    position: relative;
    overflow: hidden;
}

.intro__team--home {
    transform: translate3d(-60px, 0, 0);
    z-index: 3;
}

.intro__team--away {
    transform: translate3d(60px, 0, 0);
    z-index: 2;
}

.intro__team-name {
    padding: 0 30px;
    line-height: 90px;
    background: rgba(64, 4, 68, 1);
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    z-index: 2;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
    font-family: 'PremierSans-Bold', Roboto, Helvetica, Arial, sans-serif;
}

.intro__team--away .intro__team-name:before {
    content: '';
    flex: 1 1 100%;
    height: 0;
    width: calc(100% - 180px);
    position: absolute;
    left: -30px;
    top: 0;
    background: #000;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .65);
}

.intro__team-badge-wrapper {
    height: 90px;
    width: 90px;
    padding: 4px;
    background: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .65);
}

.intro__league-badge-wrapper {
    position: relative;
    height: 100%;
}

.intro__league-badge-outer,
.intro__league-logo,
.intro--splitted .intro__league-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.intro__team-badge {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.intro__league-badge {
    width: 640px;
    height: 200px;
}

.intro--splitted .intro__league-badge {
    opacity: 0;
}

.intro__league-logo {
    height: 108px;
    width: auto;
    opacity: 0;
}

.intro--splitted .intro__league-logo {
    opacity: 1;
}

.intro__team-badge-wrapper {
    transform: translate3d(-90px, 0, 0);
}

.intro--splitted .intro__team-badge-wrapper {
    transform: translate3d(0, 0, 0);
}

.intro__hashtag {
    background: rgb(37, 215, 224);
    display: flex;
    padding: 0 30px;
    line-height: 24px;
    font-weight: 700;
    transform: translate3d(60px, 0, 0);
    align-self: flex-start;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.intro__hashtag:before {
    content: '';
    height: 0;
    width: 100%;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .65);
    flex: 1 1 100%;
    position: absolute;
    top: 0;
    left: 0;
}

[class^="intro__panel"],
.intro__teams,
.intro__team-badge,
.intro__league-logo,
.intro__league-badge,
.intro__team-badge-wrapper {
    transition: all 1s ease-out;
}